.error-input-msg {
    padding: 0 $app-input-error-msg-padding-horizontal;
}

.content-container {
    background-color: $grey-lightest;
    min-height: 33vh;
}

header .content {
    padding: $size-smallest;
}

.usual-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $size-7;
}

.usual-row:hover {
    background-color: $grey-lightest;
}

.user-setting-change-button {
    margin-left: $size-7;
}

.errors-item-form {
    padding-bottom: $size-5;
}

.user-settings-content {
    background-color: lightgray;
    border-radius: 6px;
}

@media screen and (max-width: $tablet) {
    .navbar-brand {
        min-height: $size-3;
    }

    .content h3 {
        margin-bottom: 0;
    }

    .usual-row {
        justify-content: flex-end;
    }
}
